@font-face {
    font-family: 'Queen of Camelot 2.0';
    src: url(../assets/fonts/Queen\ of\ Camelot\ 2.0_D.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand > img {
    height: 5rem;
}

.container-custom {
    width: 80%;
    padding: 0.25rem 0;
    font-size: 0.8rem;
    margin: 0 auto;
}

.top-bar img {
    height: 1rem;
}

.top-bar-item-wrapper {
    padding: 0.5rem 0;
    font-size: 0.7rem;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.2em;
}

.active > a {
    color: #29b3b6!important;
    border-top: solid .2rem #29b3b6;
}

.nav-link {
    padding: 0.2rem 0 !important;
}

@media (min-width: 600px) {
    .banner-pitch-wrapper {
        width: 40%;
    }
}

.banner-pitch-wrapper {
    max-width: 90%;
    margin-left: 2rem;
}

.jumbotron {
    min-height: 50rem;
    background-image: url(../assets/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    font-weight: 800;
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    .jumbotron h1 {
        font-weight: 700;
        font-size: 2.5em;
    }
}

.jumbotron .btn {
    margin-top: 1rem;
}

.card.text-white {
    background-color: #29b3b6;
}

.card.text-dark {
    background-color: #f8f8f8;
}

.card-body > img {
    width: 25%;
    margin: 2.5rem;
}

.card-body p {
    font-size: 1rem;
    text-align: center;
}

.start-trading-wrapper {
    min-height: 40rem;
    padding: 2rem 0;
}

.start-trading-wrapper .left img {
    max-width: 90%;
}

.features-wrapper {
    background-color: black;
    background-image: url(../assets/images/coins.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.features-wrapper .card {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    background-color: white;
    margin: 0.5rem;
}

@media (min-width: 1000px) {
    .features-wrapper h4 {
        max-width: 65%;
    }

    .features-wrapper .card {
        max-width: 33%;
    }
}

.features-wrapper img {
    height: 4rem;
    width: 4rem;
}

.features-wrapper .card-body {
    max-width: 75%;
    margin: 0 auto 2rem;
}

.section-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem;
}

footer {
    background-color: black;
}

.footer-business {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

figure.footer-logo-wrapper {
    width: 5rem;
    height: 5rem;
}

figure.footer-logo-wrapper img {
    max-width: 100%;
}

.footer-nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.footer-social .form-inline {
    width: 100%;
}

.footer-social .form-inline input {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 0;
    flex-grow: 1;
}

.footer-social .form-inline .btn {
    background-color: #29b3b6;
    align-self: flex-end;
}

.footer-social .social-icons {
    margin: 2rem 0;
    font-size: 1rem;
}

.footer-social .social-icons i {
    margin-right: 2rem;
}


.logo-text {
    font-family: 'Queen of Camelot 2.0';
    font-size: 2rem;
    letter-spacing: 0.6rem;
    padding-top: 0.5rem;
    margin-left: -0.3rem;
}

.plans-wrapper {
    padding: 2rem;
    margin: 1rem auto;
    /* height: min-content; */
}

.plan-features {
    list-style: none;
    padding-left: 0 !important;
}

.plan-features .list-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    max-width: 80%;
}

.plan-features .list-item i {
    color: #378d00;
    margin: 2rem 2rem 2rem 0rem;
    font-weight: bold;
}

.pricing-plan {
    box-shadow: 5px 5px 20px #333333;
    padding-bottom: 2rem;
    height: 100%;
}

.pricing-plan button {
    width: 80%;
}

.pricing-plan.minimum button {
    background-color: #00a888;
}

.pricing-plan-outer-wrapper {

    background-color: white;
    padding: 0 3rem;
    box-shadow: 5px 5px 20px #888888;
    margin: 2rem auto;
}

.pricing-plan .plan-name {
    margin-bottom: 0;
}

.pricing-plan .price {
    font-size: 2.2rem;
}

.pricing-plan .plan-note {
    font-size: 1rem;
}

.pricing-plan .plan-duration {
    text-transform: lowercase;
    font-size: 1rem;
}

.pricing-plan-outer-wrapper.maximum {
    transform: scale(1.1, 1.1);
}

.pricing-plan.maximum {
    padding-left: 2rem;
}

.results-wrapper {
    background-image: url(../assets/images/coins-graph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}